/* Основные стили для всего приложения */

.container {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

h1, p {
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button, input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
